body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-30px;
  width:1094px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:251px;
  width:319px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:269px;
  width:39px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u1143 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:270px;
  width:55px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u1144 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:281px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#AAAAAA;
}
#u1145 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:269px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u1146 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:13px;
  background:inherit;
  background-color:rgba(252, 40, 91, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:270px;
  width:56px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1147 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:18px;
  width:283px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 170, 170, 0.34901960784313724));
  transition:none;
  text-align:left;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:256px;
  width:89px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u1149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 170, 170, 0.34901960784313724));
  transition:none;
  text-align:left;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:133px;
  width:79px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u1150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 170, 170, 0.34901960784313724));
  transition:none;
  text-align:left;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:262px;
  width:81px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u1151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:285px;
  width:195px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:84px;
  width:283px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:260px;
  width:59px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:267px;
  width:86px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:267px;
  width:63px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:278px;
  width:0px;
  height:0px;
  transition:none;
}
#u1157_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-5px;
  width:74px;
  height:10px;
}
#u1157_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1157_seg2 {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:-16px;
  width:32px;
  height:32px;
}
#u1157_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:267px;
  width:0px;
  height:0px;
  transition:none;
}
#u1158_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-109px;
  width:10px;
  height:114px;
}
#u1158_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u1158_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-124px;
  width:32px;
  height:32px;
}
#u1158_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-62px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:277px;
  width:0px;
  height:0px;
  transition:none;
}
#u1159_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:54px;
  height:10px;
}
#u1159_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1159_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-16px;
  width:32px;
  height:32px;
}
#u1159_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:156px;
  width:195px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:346px;
  width:319px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:364px;
  width:39px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u1163 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:365px;
  width:55px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u1164 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:376px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#AAAAAA;
}
#u1165 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:364px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u1166 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:13px;
  background:inherit;
  background-color:rgba(252, 40, 91, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:365px;
  width:56px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1167 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:206px;
  width:319px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:224px;
  width:39px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u1170 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:225px;
  width:55px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u1171 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#AAAAAA;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:236px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#AAAAAA;
}
#u1172 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:224px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u1173 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:13px;
  background:inherit;
  background-color:rgba(252, 40, 91, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:225px;
  width:56px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1174 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:133px;
  width:371px;
  height:290px;
  display:flex;
  transition:none;
}
#u1175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:290px;
}
#u1175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
