body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-93px;
  width:712px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:76px;
  background:inherit;
  background-color:rgba(0, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 170, 170, 0.34901960784313724));
  transition:none;
  text-align:left;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:158px;
  width:300px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:79px;
  width:375px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:158px;
  width:375px;
  height:812px;
  display:flex;
  transition:none;
}
#u506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:763px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:207px;
  width:375px;
  height:763px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:201px;
  width:375px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:211px;
  width:103px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u509 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u509_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#555555;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:262px;
  width:48px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#555555;
}
#u510 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u510_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#555555;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:464px;
  width:48px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#555555;
}
#u511 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u511_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#555555;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:669px;
  width:36px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#555555;
}
#u512 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u512_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:288px;
  width:319px;
  height:142px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:307px;
  width:28px;
  height:28px;
  display:flex;
  transition:none;
}
#u515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:309px;
  width:38px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u516 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#AAAAAA;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:320px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#AAAAAA;
}
#u517 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#7F7F7F;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:320px;
  width:89px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#7F7F7F;
}
#u518 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:13px;
  background:inherit;
  background-color:rgba(252, 40, 91, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#FFFFFF;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:308px;
  width:47px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#FFFFFF;
}
#u519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  transition:none;
  font-size:4px;
  color:#FFFFFF;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:323px;
  width:11px;
  height:7px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:4px;
  color:#FFFFFF;
}
#u520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FC285B;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:307px;
  width:38px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FC285B;
}
#u521 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:345px;
  width:28px;
  height:28px;
  display:flex;
  transition:none;
}
#u522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:347px;
  width:38px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u523 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#AAAAAA;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:358px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#AAAAAA;
}
#u524 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#7F7F7F;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:358px;
  width:89px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#7F7F7F;
}
#u525 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:13px;
  background:inherit;
  background-color:rgba(252, 40, 91, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#FFFFFF;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:346px;
  width:47px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#FFFFFF;
}
#u526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  transition:none;
  font-size:4px;
  color:#FFFFFF;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:361px;
  width:11px;
  height:7px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:4px;
  color:#FFFFFF;
}
#u527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FC285B;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:345px;
  width:38px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FC285B;
}
#u528 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:383px;
  width:28px;
  height:28px;
  display:flex;
  transition:none;
}
#u529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:385px;
  width:38px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u530 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#AAAAAA;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:396px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#AAAAAA;
}
#u531 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#7F7F7F;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:396px;
  width:89px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#7F7F7F;
}
#u532 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:13px;
  background:inherit;
  background-color:rgba(252, 40, 91, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#FFFFFF;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:384px;
  width:47px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#FFFFFF;
}
#u533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  transition:none;
  font-size:4px;
  color:#FFFFFF;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:399px;
  width:11px;
  height:7px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:4px;
  color:#FFFFFF;
}
#u534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FC285B;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:383px;
  width:38px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FC285B;
}
#u535 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:493px;
  width:319px;
  height:142px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:512px;
  width:55px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u538 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#AAAAAA;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:523px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#AAAAAA;
}
#u539 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#7F7F7F;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:524px;
  width:44px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#7F7F7F;
}
#u540 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  transition:none;
  font-size:4px;
  color:#FFFFFF;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:527px;
  width:11px;
  height:7px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:4px;
  color:#FFFFFF;
}
#u541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:13px;
  background:inherit;
  background-color:rgba(252, 40, 91, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:511px;
  width:56px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u542 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:506px;
  width:55px;
  height:28px;
  display:flex;
  transition:none;
}
#u543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
}
#u543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:510px;
  width:28px;
  height:28px;
  display:flex;
  transition:none;
}
#u544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:554px;
  width:55px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u545 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#AAAAAA;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:565px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#AAAAAA;
}
#u546 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#7F7F7F;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:566px;
  width:44px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#7F7F7F;
}
#u547 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  transition:none;
  font-size:4px;
  color:#FFFFFF;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:569px;
  width:11px;
  height:7px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:4px;
  color:#FFFFFF;
}
#u548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:13px;
  background:inherit;
  background-color:rgba(252, 40, 91, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:553px;
  width:56px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u549 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:548px;
  width:55px;
  height:28px;
  display:flex;
  transition:none;
}
#u550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
}
#u550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:552px;
  width:28px;
  height:28px;
  display:flex;
  transition:none;
}
#u551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:596px;
  width:55px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u552 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#AAAAAA;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:607px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#AAAAAA;
}
#u553 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#7F7F7F;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:608px;
  width:44px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#7F7F7F;
}
#u554 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  transition:none;
  font-size:4px;
  color:#FFFFFF;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:611px;
  width:11px;
  height:7px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:4px;
  color:#FFFFFF;
}
#u555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:13px;
  background:inherit;
  background-color:rgba(252, 40, 91, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:595px;
  width:56px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u556 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:590px;
  width:55px;
  height:28px;
  display:flex;
  transition:none;
}
#u557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
}
#u557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:594px;
  width:28px;
  height:28px;
  display:flex;
  transition:none;
}
#u558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:698px;
  width:319px;
  height:142px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:716px;
  width:39px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u561 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:717px;
  width:55px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u562 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#AAAAAA;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:728px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#AAAAAA;
}
#u563 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#7F7F7F;
  text-align:right;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:728px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#7F7F7F;
  text-align:right;
}
#u564 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  transition:none;
  font-size:4px;
  color:#FFFFFF;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:732px;
  width:11px;
  height:7px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:4px;
  color:#FFFFFF;
}
#u565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:716px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u566 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#7F7F7F;
  text-align:right;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:728px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#7F7F7F;
  text-align:right;
}
#u567 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#7F7F7F;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:728px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#7F7F7F;
}
#u568 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:13px;
  background:inherit;
  background-color:rgba(252, 40, 91, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:717px;
  width:56px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u569 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:758px;
  width:39px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u570 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:759px;
  width:55px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u571 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#AAAAAA;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:770px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#AAAAAA;
}
#u572 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#7F7F7F;
  text-align:right;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:770px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#7F7F7F;
  text-align:right;
}
#u573 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  transition:none;
  font-size:4px;
  color:#FFFFFF;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:774px;
  width:11px;
  height:7px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:4px;
  color:#FFFFFF;
}
#u574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:758px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u575 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#7F7F7F;
  text-align:right;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:770px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#7F7F7F;
  text-align:right;
}
#u576 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#7F7F7F;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:770px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#7F7F7F;
}
#u577 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:13px;
  background:inherit;
  background-color:rgba(252, 40, 91, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:759px;
  width:56px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u578 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:796px;
  width:39px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u579 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:797px;
  width:55px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u580 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#AAAAAA;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:808px;
  width:51px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#AAAAAA;
}
#u581 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#7F7F7F;
  text-align:right;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:808px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#7F7F7F;
  text-align:right;
}
#u582 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  transition:none;
  font-size:4px;
  color:#FFFFFF;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:812px;
  width:11px;
  height:7px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:4px;
  color:#FFFFFF;
}
#u583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:796px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FC285B;
  text-align:right;
}
#u584 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#7F7F7F;
  text-align:right;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:808px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#7F7F7F;
  text-align:right;
}
#u585 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#7F7F7F;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:808px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#7F7F7F;
}
#u586 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:13px;
  background:inherit;
  background-color:rgba(252, 40, 91, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:797px;
  width:56px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u587 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:3px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:964px;
  width:100px;
  height:3px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:453px;
  width:375px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:659px;
  width:375px;
  height:4px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:457px;
  width:341px;
  height:188px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
